/*body*/
body {
    margin: 0;
  }
html body {
    margin: 0;
    padding: 0;
}
  
body {
    background-color: rgb(3, 3, 104);
    background-image: url(./images/hogwartsbackgrnd.png);
    background-size: 4vw;
    background: filer(opacity(20%));

}
  
header {
    grid-area: hd;
    align-items: center;
    
}
  
h1 {
    grid-area: h1;
    text-align: center;
    color: #fefefe;
}
  
h3 {
    text-align: center;
    color: #fefefe;
}
#allShowNum{
    margin-top: 2vw;
}
#curentNum{
    display: flex;
    flex-direction: row;
    color: #fefefe;
    position: absolute;
    right: 1vw;
}

#allShowNum > div{
    display: flex;
    flex-direction: row;
    color:#fefefe ;
    margin: 1vw 0 0 1vw ;
}

  
button {
    border: 0.3vw rgb(5, 5, 83) solid; 
    border-radius: 0.5vw;
    color: #fefefe;
    background-color: rgb(3, 3, 104);

    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

button:hover {
    background-color: rgb(30, 30, 146);
}
button:active {
    box-shadow: inset -2px -2px 3px rgba(99, 97, 97, 0.6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

  
label {
    grid-area: label;
    align-items: flex-end;
    color: #fefefe;
}
  
footer > label {
    grid-area: label;
    padding-left: 70%;
    color: #fefefe;
}
  
h2 {
    grid-area: h2;
    text-align: center;
    color: #fefefe;
}
  
div {
    grid-area: div;
}
  
#filterContainer > label {
    /* grid-area: fc; */
    font-size: 20fr;
}
  
#sortContainer > label {
    /* grid-area: sc; */
    font-size: 20fr;
}
  
#fsContainer {
    grid-area: fs;
    margin-left: 1vw;
}
  
table {
    grid-area: table;
    background-color: rgb(3, 3, 104);
    margin-right: 4vw;
}


tbody tr:nth-child(odd) {
    background-color: rgb(8, 8, 128);
}

td {
    text-align: center;
    color: #fefefe;
    padding: 2vw;
}
  
th {
    text-align: center;
    color: #fefefe;
    
}


  
@media only screen and (min-width: 750px) {
    header {
      display: grid;
      grid-template-columns: 0.2fr 1fr 0.2fr;
      grid-template-areas: ". h1 label";
    }
    main {
      display: grid;
      grid-template-columns: 0.2fr 1fr;
      grid-template-areas:
        "h2 h2"
        "fs table";
    }
  }
  
  /* modal */
  .hide {
    display: none;
  } 
  .hiding {
     opacity: 0;
     cursor:default;
  }
  
.modalBackground {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.modalContent {
    position: absolute;
    left: 25vw;
    top: 8vw;
    height: auto;
    width: 40vw;
    z-index: 10;
    border: 1px solid #000000;
    color: #fefefe;
    margin: 1em;
    padding: 1em;
    border-radius: 1vw;
    border: rgba(0, 0, 0, 0.651) 0.5vw solid;
}
.modalContent h3 {
    margin: 0;
    
}
#theLeftContent {
    float: left;
}
#theRightContent {
    float: right;
}
#theRightContent > img {
    margin-top: 8vw; 
    max-width: 8vw;
    max-height: 8vw;
    border-radius: 2vw;
    border: rgba(0, 0, 0, 0.253) 2px solid;
  }
#closeModalButton{
    position: absolute;
    right: 0.5vw;
    top: 1vw;
    height: 2vw;
    width: 5vw;
    text-align: center;
    line-height: 2vw;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.253) 2px solid;
    border-radius: 1vw;
}

#closeModalButton:hover{
    background-color: rgba(0, 0, 0, 0.192);
}

#buttonEx {
    position: absolute;
    bottom: 0.5vw;
    left: 10%;
    cursor: pointer;
}
#buttonIn {
    position: absolute;
    left: 40%;
    bottom: 0.5vw;
    cursor: pointer;
}

#bloodDisplay{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40%;
    margin: 0;

}
#bloodDisplay > p {
    margin: 0 0 0 0.5vw;
}
.prefectsNo{
    filter: grayscale(100%);
    
}
.showDatas:hover{
    cursor: pointer;
    transform: translateY(0.1vw);
    text-shadow: 7px 7px 10px #000;

} 

.prefectIndicator{
    background-image: url(./images/prefect.png);
    background-size: 100%;
    width: 4vw;
    height: 4.4vw;
    margin-top: 2.5vw ;
    float: right;
    cursor: pointer;
}

#imAPrefect {
    position: absolute;
    top: 5.5vw;
}

#inquisitionIc {
    position: relative;
    display: flex;
    flex-direction: row;
    /*left: 5vw;*/
    
}
#inquisitionImg {
    background-image: url(./images/inquisit.png);
    width: 4vw;
    height: 4vw;
    background-size: 5vw;
    background-repeat: no-repeat;
}

.Slytherin {
    background-color: green;
    background-image: url(./images/slytherin.png);
    background-size: 10vw;
    background-repeat: no-repeat;
    background-position-x: 15vw;
    background-position-y: 7vw;
}

.Ravenclaw {
    background-color: grey ;
    background-image: url(./images/ravenclaw.png);
    background-size: 10vw;
    background-repeat: no-repeat;
    background-position-x: 15vw;
    background-position-y: 7vw;
}

.Hufflepuff {
    background-color:  brown;
    background-image: url(./images/hufflepuff.png);
    background-size: 10vw;
    background-repeat: no-repeat;
    background-position-x: 15vw;
    background-position-y: 7vw;
}

.Gryffindor {
    background-color: rgb(230, 197, 13);
    background-image: url(./images/gryffindor.png);
    background-size: 10vw;
    background-repeat: no-repeat;
    background-position-x: 15vw;
    background-position-y: 7vw;
}

#justAButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 2vw;
    height: 1vw;
    border-radius: 1vw;
}

#justAButton:hover {
    background-color: rgba(0, 0, 0, 0.164);
}